@use "src/colors"

.result-loading-backdrop
  z-index: 1000 !important

  .loading-indicator
    text-align: center

    h1
      color: colors.$off-white

    .cancel-calculation-button
      margin-top: 32px

.download-results
  margin: 32px auto 64px auto
  width: fit-content

  align-content: center

  a
    text-decoration: none

.container
  position: relative

.result-back-button
  position: absolute
  left: 8px
  top: 10px
