@import '../../../main.scss';

.button-wrapper {
    background-color: $button-color;
    color: $off-white;
    
    width: 5em;
    height: min-content;

    padding: 0.5em 1em;
    border-radius: 0.5em;

    text-align: center;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        background-color: $dark-button-color;
    }    
}
