@import '../../../../main.scss';

.costs-page-container {
  text-align: center;
}

.costs-form-container {
  margin: 8px 10vw;
  padding-top: 8px;
  padding-bottom: 8px;

  > div {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
