@import '../../../../main.scss';

.advanced-header {
  margin: 32px;

  font-size: 18pt;

  border-bottom: $primary-light;
  border-bottom-style: solid;

  text-align: left;

  h1 {
    margin-bottom: 8px;
  }
}
  