@use "src/colors"

.result-loading-backdrop
  z-index: 1000 !important

  .loading-indicator
    text-align: center

    h1
      color: colors.$off-white

    .cancel-calculation-button
      margin-top: 32px

.container
  position: relative
  margin-bottom: 64px

.result-back-button
  position: absolute
  left: 8px
  bottom: 16px

.pdf-container
  margin: 32px 0
  text-align: center

.pdf-report
  width: 1500px
  height: 1000px

.system-description-text
  text-align: center

.system-description-label
  text-align: center
  font-size: 14pt

.vertical-center-container
  height: 300px
  position: relative

  .vertical-center
    position: absolute
    top: 50%
    transform: translateY(-50%)

.net-cost-line
  border-top: solid 1px #727272
  font-weight: bold