@import "src/main.scss";

.loading-indicator {
  text-align: center;

  h1 {
    color: $off-white;
  }
}

.results-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  padding: 1em 2em;

  .results-display {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}


