@import "../../../main.scss";

.result-card {
  width: 20em;

  height: 30em;
  background-color: $primary-light;
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  margin: 0em 1em;
  border-radius: 1em;
}